<h1>Coupons </h1>

<% @coupons.each do |coupon| %>
    <p><%= link_to(coupon.store, coupon_path(coupon))%> <span> - coupon code: <%= link_to(coupon.coupon_code, coupon_path(coupon))  %></span></p>
<%end%>


