<h1> I knew you wanted to take a look at my coupons </h1>
<h4> You dirty little slut </h4>

<%= @coupon.coupon_code %>
<%= @coupon.store %>


<h5> I hope you're happy </h5>

<%= button_to "All coupons", coupons_path, method: :get %>